.navigatie {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('assets/img/top.png');
    background-size: cover;
    padding: 50px;
}


.pages {
    font-weight: bold;
    color: black;
    background-color: #fff;
    height: 30px;
    width: 130px;
    border-radius: 40px;
    text-align: center;
    margin-top: 50px;

}

.navigatie {
    display: flex;
    gap: 10px 20px;
    flex-direction: row;
    border-radius: 30px;


}

.desprenoi {
    float: left;
}

.imgMecanic {
    float: right;
}

body {
    background-color: lightgray;
}

.imgnav {
    float: right;
    margin-left: 800px;
    margin-top: 8%;
    
}

.numeservice {
    text-align: center;
    background-color: #6c757d;
    border-radius: 30px;
    height: 50px;
}