.navigatie {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(assets/img/sky.png);
    background-size: 2000px ;
    padding: 50px;
}

.pages{
    font-weight: bold;
    color: black;
    background-color: #fff;
    height: 30px;
    width: 100px;
    border-radius: 40px;
    text-align: center;

}

.navigatie{
    display: flex;
    gap: 10px 20px;
    flex-direction: column; 
    border-radius: 30px;
}

.img1{
    float: left;
}
.img2{
    float: right;
}

body{
    background-color: skyblue;
}
